<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
      <a class="navbar-brand" style="margin-left:45%" href="#">
        <%= image_tag "instaset.png" %>
      </a>
      <% if signed_in? %>
      <%= button_to "Sign Out", session_url, method: :delete, class: "btn btn-default navbar-btn navbar-right" %>
      <% end %>
      <p class="navbar navbar-text navbar-right navbar-username" > <%= current_user.username %> </p>
  </div>
</nav>
<div class="backdrop" >
  <div id="main" class="clearfix">
  </div>
</div>
<script charset="utf-8">
  //$(Insta.initialize);//
</script>
