<div class="splash-head">

</div>

<div class="wrapper-home">

<div class="left-photo clearfix">
  <img src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/s306x306/e15/10004288_494274030678289_1765856317_n.jpg" alt="sunset-home" class="sunset-home"/>
</div>

<div class="right-panel panel panel-default">
    <div class="panel-heading">
      <h1>Instaset</h1>
    </div>
    <div class="panel-body">
      <h2> Instaset is Instagram for Sunsets </h2>
      <ul style="list-style-type:none">
        <li> Post pictures of your sunsets </li>
        <li> View other photos of sunsets </li>
        <li> Like and comment on sunsets </li>
      </ul>

    </div>
    <div class="panel-footer">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">
        Sign In
      </button>
    </div>
</div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer-home">
    <a href="https://github.com/hope-andrew/Instaset">GITHUB</a>

     &copy ANDREW HOPE 2015
  </div>
</nav>

<!-- Signin Modal -->
<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Sign In</h3>
      </div>
      <div class="modal-body">
        <form action="<%= session_url %>" method="POST" >

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label> Username </label>
        <input type="text" name="user[username]" class="username" >

        <label> Password </label>
        <input type="password" name="user[password]" class="password">

        <input type="submit" value="Sign In" class="btn btn-primary" id="signin-button" >

        </form>
        <h4> Or sign in as a guest! </h4>

        <button class="guest-signin btn btn-primary" > Guest </button>

        <p> Don't have an account? </p>

        <%= link_to "Signup", new_user_url, class: "btn btn-default" %>


        <script src="jquery.js"></script>
        <script src="typed.js."></script>
        <script>
          $(function(){
            var options2 = {
              strings: ["password"],
              typeSpeed: 0,
              onStringTyped: function() {
                $("#signin-button").trigger("click")
              }
            }
            var options = {
              strings: ["GuestUser123"],
              typeSpeed: 0,
              onStringTyped: function() {
                $("input.password").typed(options2);
              }
            }
            $("button.guest-signin").click(function(){
              $("input.username").typed(options);
            });
          });
        </script>


      </div>
      <!-- <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
