<h2> Photos Index </h2>
<br>

<div class="photos">
  <ul class="photo-list">

  </ul>
  <button class="load-more">Load More</button>
</div>

<div class="sidebar" >
  <p> Username goes here </p>

  <h2> Add a new photo </h2>

</div>
