<h2> Photos Index </h2>
<br>

<ul>
<% photos.each(function(photo){ %>
  <li>
    <%= photo.escape("caption") %> <br>
    <img src="<%= photo.escape("img_url") %>" alt="alt title" >
  </li>
<% }) %>
</ul>



<h2> Add a new photo </h2>

<form>
  <label>Upload Photo</label>
  <button class="upload-photo"> Upload Photo </button>

  <label>Photo Caption </label>
  <input type="text" name="photo[caption]" >

  <br>
  <button class="new-photo"> Add Photo </button>
</form>
