<div class="panel panel-default new-photo-panel" >
<form class="new-photo-form">
<div class="panel-heading" >
  <label>Upload Photo</label>
  <button class="upload-photo btn btn-default"> Upload Photo </button>
</div>
<div class="panel-body">
  <label>Photo Caption </label>
  <input type="text" class="caption-input"name="photo[caption]" >
</div>
<div class="panel-footer">
  <button class="new-photo btn btn-default"> Add Photo </button>
</div>
</form>
</div>
