<form class="new-photo-form">
  <label>Upload Photo</label>
  <button class="upload-photo"> Upload Photo </button>

  <br>
  <label>Photo Caption </label>
  <input type="text" class="caption-input"name="photo[caption]" >

  <br>
  <button class="new-photo"> Add Photo </button>
</form>
