// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
}

div.photos {
  display: inline-block;
  float: left;
  width: 55%
}

div.photo {
  display: inline-block;
  float: left;
  width: 65%;
}

div.sidebar {
  display: inline-block;
  float: right;
  width: 35%;
}

img.photo-show {
  height: auto;
  width: auto;
  max-width: 65%;
}
